@keyframes comeFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes goToBottom {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes comeFromRight {
    0% {
        transform: translateX(100%) scale(0.2) skew(45deg);
        opacity: 0;
    }
    100% {
        transform: translateX(0) scaleX(1) skew(0deg);
        opacity: 1;
    }
}
@keyframes backToRight {
    0% {
        transform: translateX(0) scaleX(1) skew(0deg);
        opacity: 1;
    }
    100% {
        transform: translateX(100%) scaleX(1) skew(45deg);
        opacity: 0;
    }
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes flashUp {
    0% {
        transform: translateY(0) scaleX(1) skew(0deg);
        opacity: 1;
        filter: brightness(1) grayscale(1);
    }

    100% {
        opacity: 0;
        filter:brightness(2) grayscale(0) ;
        transform: translateY(100%) scaleX(1.4) skew(45deg) ;
    }
}
@keyframes flashDown {
    0% {
        transform: translateY(-100%) scaleX(1) skew(45deg);
        opacity: 0;
        filter: brightness(2);
    }

    100% {
        transform: translateY(0) scaleX(1) skew(0deg);
        opacity: 1;
        filter:brightness(1);
    }
}
@keyframes dropDown {
    0% {
        transform-origin: left top;
        transform:  scale(0.5) skew(45deg) ;
        opacity: 0;
    }
    100% {
        transform: scale(1) skew(0deg);
        opacity: 1;
    }
}
@keyframes dropUp {
    0% {
        transform: scale(1) skew(0deg);
        opacity: 1;
    }
    100% {
        transform: scale(0.5) skew(45deg);
        opacity: 0;
    }
}
@keyframes bounceFromBottom {
    0% {
        transform-origin: center top;
        transform: translateY(200%) scaleY(0);
        opacity: .6;
    }
    80% {
        transform-origin: center top;
        transform: translateY(-30%) scaleY(1.2);
        opacity: 1;
    }
    100% {
        transform-origin: center top;
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
}
@keyframes bounceToBottom {
    0% {
        transform: translateY(0) scaleY(1);
        opacity: 1;
    }
    20% {
        transform: translateY(-30%) scaleY(1.2);
        opacity: 1;
    }
    100% {
        transform: translateY(200%) scaleY(0);
        opacity: .6;
    }
}
@keyframes ringLight {
    0% {
        transform: rotateX(80deg) scaleX(1);
        opacity: 0.2;
    }
    50% {
        transform: rotateX(80deg) scaleX(1.3);
        opacity: 0;
    }
    100% {
        transform: rotateX(80deg) scaleX(1);
        opacity: 0.2;
    }

}
@keyframes dampingSwing {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(10deg);
    }
    20% {
        transform: rotate(-10deg);
    }
    30% {
        transform: rotate(6deg);
    }
    40% {
        transform: rotate(-6deg);
    }
    50% {
        transform: rotate(3deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    70% {
        transform: rotate(1deg);
    }
    80% {
        transform: rotate(-1deg);
    }
    90% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }

}
@keyframes onTheEarth {
    0%, 100% {
        transform: translateY(0);
        opacity: 0.9;
    }
    50% {
        transform: translateY(-20px);
    }
}

@keyframes fall {
    0% { transform: translateY(-800px); } 60% { transform: translateY(0); } 70% { transform: translateY(-50px); } 80% { transform: translateY(-20px); } 90% { transform: translateY(-10px); } 100% { transform: translateY(0); }
}

:root {
    --animate-come-from-bottom: comeFromBottom 0.32s cubic-bezier(0.24, 1.32, 0.87, 1.04);
    --animate-go-to-bottom: goToBottom 0.32s cubic-bezier(0.24, 1.32, 0.87, 1.04);
    --animate-fade-in: fadeIn 0.3s linear;
    --animate-fade-out: fadeOut 0.3s linear;
    --animate-drop-down: dropDown 0.3s cubic-bezier(0.68, 0.04, 0.61, 1.16);
    --animate-drop-up: dropUp 0.3s cubic-bezier(0.68, 0.04, 0.61, 1.16);
    --animate-bounce-to-bottom: bounceToBottom 0.3s cubic-bezier(0.53, -0.61, 0.82, 0.91);
    --animate-bounce-from-bottom: bounceFromBottom 0.3s cubic-bezier(0.03, 0.56, 0.8, 1.67);
    --animate-damping-swing: dampingSwing 3s ease-in-out alternate;
    --animate-on-the-earth: onTheEarth 5s cubic-bezier(0.42, 0, 0.58, 1) infinite;
    --animate-perfect-landing: fall 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}